<header class="w-full p-2 bg-gray-900  shadow-lg text-white">
  <nav class=" flex justify-between items-center">
    <div class="flex items-center">
      <img src="https://rca.isirh.fr/media/cache/project_logo/uploads/media/files//rca-couleur-logo.png" alt="Logo" class="w-10 h-10 rounded-full">
      <h1 class="text-white ml-2 font-semibold">Reddot</h1>
    </div>
    <div>
      <button class="btn bg-red-900 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-full flex justify-center items-center">
        <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" alt="Logo Reddit" class="w-4 h-4 mr-2">
        Connexion
      </button>
    </div>
  </nav>
</header>


<section class="bg-gray-800 min-h-screen flex justify-evenly items-center text-center text-white">
  <div class="bg-gray-800 min-h-screen flex flex-col justify-center items-center text-center text-white">
    <img src="https://rca.isirh.fr/media/cache/project_logo/uploads/media/files//rca-couleur-logo.png" alt="Logo" class="w-32 mb-8">
    <h1 class="text-3xl font-semibold mb-4">Analyseur Reddit</h1>
    <p class="text-xl mb-8">Analysez les performances de vos publications Reddit en temps réel</p>
    <button class="bg-gray-600 rounded-full px-4 py-2 text-white hover:bg-gray-700 focus:outline-none">
      Commencer
    </button>

  </div>
  <div class="bg-gray-800 min-h-screen flex flex-col justify-center items-center text-center text-white">
    <!-- Créer un élément canvas pour afficher le graphique -->
    <canvas class="w-full glass-x-reverse bg-gray-700 rounded-lg shadow-lg" id="chart"></canvas>
  </div>
</section>


<section class="bg-gray-800 py-8">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-semibold mb-4 text-center text-white">Pourquoi utiliser notre outil d'analyse ?</h2>
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/3 px-4 mb-8">
        <div class="bg-white rounded-lg p-8 shadow-lg">
          <h3 class="text-xl font-semibold mb-4">Analyse en temps réel</h3>
          <p class="text-gray-700 mb-4">Suivez l'engagement et les performances de vos publications en temps réel pour
            prendre des décisions informées.</p>
          <img src="/path/to/realtime.svg" alt="Icône temps réel" class="w-8 h-8 mr-2">
        </div>
      </div>
      <div class="w-full md:w-1/3 px-4 mb-8">
        <div class="bg-white rounded-lg p-8 shadow-lg">
          <h3 class="text-xl font-semibold mb-4">Données détaillées</h3>
          <p class="text-gray-700 mb-4">Obtenez des données détaillées sur l'engagement de votre audience et sur les
            performances de chaque publication.</p>
          <img src="/path/to/data.svg" alt="Icône données" class="w-8 h-8 mr-2">
        </div>
      </div>
      <div class="w-full md:w-1/3 px-4 mb-8">
        <div class="bg-white rounded-lg p-8 shadow-lg">
          <h3 class="text-xl font-semibold mb-4">Facile à utiliser</h3>
          <p class="text-gray-700 mb-4">Notre interface utilisateur intuitive vous permet de naviguer facilement et de
            trouver rapidement les informations que vous cherchez.</p>
          <img src="/path/to/easy.svg" alt="Icône facile à utiliser" class="w-8 h-8 mr-2">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="glass-x-reverse glass-y-reverse bg-red-800 py-8">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-semibold mb-4 text-center text-white">Questions fréquemment posées</h2>
    <div class="accordion" id="faqAccordion">
      <div class="card rounded-lg shadow-lg mb-4">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link text-white font-semibold text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Comment utiliser l'outil d'analyse ?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
          <div class="card-body text-gray-700">
            Pour utiliser l'outil d'analyse, vous devez d'abord vous connecter à votre compte Reddit et autoriser
            l'accès à vos données. Ensuite, vous pouvez sélectionner les publications que vous souhaitez analyser et
            visualiser les données d'engagement et de performance dans l'interface utilisateur. Vous pouvez également
            utiliser les filtres et les options de tri pour affiner les résultats de l'analyse.
          </div>
        </div>
      </div>
      <div class="card rounded-lg shadow-lg mb-4">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link text-white font-semibold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Est-ce que l'outil d'analyse est gratuit ?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
          <div class="card-body text-gray-700">
            Oui, l'outil d'analyse est gratuit à utiliser. Vous pouvez vous connecter et accéder à toutes les
            fonctionnalités sans frais.

          </div>
        </div>
      </div>
      <div class="card rounded-lg shadow-lg mb-4">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link text-white font-semibold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Quelle est la période de temps couverte par l'analyse ?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
          <div class="card-body text-gray-700">
            L'outil d'analyse couvre les données de l'année en cours jusqu'à la date actuelle. Vous pouvez utiliser les
            filtres de date pour affiner la plage de temps de l'analyse.
          </div>
        </div>
      </div>
      <div class="card rounded-lg shadow-lg mb-4">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link text-white font-semibold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Est-ce que l'outil d'analyse prend en compte tous les subreddits ?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
          <div class="card-body text-gray-700">
            L'outil d'analyse prend en compte tous les subreddits auxquels vous avez accès avec votre compte Reddit.
            Vous pouvez sélectionner les subreddits que vous souhaitez inclure dans l'analyse en utilisant les filtres
            de subreddit.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="glass-x-reverse glass-y-reverse bg-gray-800 py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/3 px-4 mb-8">
        <p class="text-white text-center font-semibold mb-2">Tous droits réservés</p>
        <p class="text-gray-500 text-center mb-2">Copyright &copy; 2021 Bréval LE FLOCH</p>
      </div>
      <div class="w-full md:w-1/3 px-4 mb-8">
        <h4 class="text-white font-semibold text-center mb-4">Liens utiles</h4>
        <ul class="list-reset text-center">
          <li class="inline-block mr-2"><a class="text-gray-500 hover:text-white" href="#">Conditions d'utilisation</a>
          </li>
          <li class="inline-block mr-2">
            <a class="text-gray-500 hover:text-white" href="#">Politique de confidentialité</a></li>
          <li class="inline-block mr-2"><a class="text-gray-500 hover:text-white" href="#">Support</a></li>
        </ul>
      </div>
      <div class="w-full md:w-1/3 px-4 mb-8">
        <h4 class="text-white font-semibold text-center mb-4">Suivez-nous</h4>
        <ul class="list-reset flex justify-center">
          <li class="mr-3"><a href="#">
            <svg class="w-5 h-5 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M23.954 4.569a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005"/>
            </svg>
          </a></li>
          <li class="mr-3"><a href="#">
            <svg class="w-5 h-5 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"/>
              <path d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"/>
            </svg>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- Définir les données du graphique -->
<script>
    const data = {
        labels: ["Janvier", "Février", "Mars", "Avril", "Mai"],
        datasets: [
            {
                label: "Utilisateurs",
                data: [15, 89, 92, 127, 231],
                borderColor: "white",
                pointBackgroundColor: "white",
                pointRadius: 5,
                fill: false,
            },
        ],
    };
</script>


<!-- Créer le graphique en utilisant Chart.js -->
<script>
    // Sélectionner l'élément canvas
    const canvas = document.getElementById("chart");

    // Créer le contexte de dessin du canvas
    const ctx = canvas.getContext("2d");

    // Créer le graphique en ligne à partir des données et du contexte de dessin
    const chart = new Chart(ctx, {
        type: "line",
        data: data,
        options: {
            legend: {
                display: false,
            },
            scales: {
                xAxes: [
                    {
                        gridLines: {
                            display: false,
                        },
                    },
                ],
                yAxes: [
                    {
                        gridLines: {
                            display: false,
                        },
                    },
                ],
            },
        },
    });
</script>
